.home {
  margin: 0%;
  padding: 0%;
  width: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.prev-button {
  position: absolute;
  top: 20%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 9;
}

.next-button {
  position: absolute;
  top: 20%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 9;
}

.design{
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  background-color:black;
  color: white;
  border-radius: 50%;
}


.design:hover{
  background-color: #ddd;
  color: black;
}
.Container {
  margin: 0%;
  text-align: center;
  background-color: black;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  color: white;
}

.Container h1{
  font-size: 100px;
  padding-top: 250px;
}

.Container p{
  padding-top: 50px;
  padding-bottom: 100px;
  font-size: 30px;
}

.home{
  padding-top: -100px;
}

.form{
  background-color: white;
  position: relative;
  left: 500px;
  border: 1px solid black;
  padding:10px;
  margin: 10px;
  width: 500px;
  height: 500px;
}

.form input{
  justify-content: space-between;
  padding: 10px;
  height: 10px;
  width: 300px;
}

.form .sumbit{
  position: relative;
  left: 200px;
  padding: 10px;
}


.teacher{
  position: absolute;
  top:690px;
  left:-50px;
  z-index: 100;
}


.form .sumbit2{
  position: relative;
  left: 250px;
  padding: 10px;
  width: 100px;
}

h1{
  text-align: center;
}

.main{
  background: linear-gradient(135deg , #71b7e6 , #9b59b6);
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.inp{
  padding: 5px;
  width: 400px;
  height: 20px;
  border-radius: 5px;
}

.add{
  height: 50px;
}

.main2{
  position: relative;
  left:250px;
  background: white;
  width: 1000px;
  height: 650px;
}

.main label{
  padding-bottom: 10px;
}


.first{
  border-right: 1px solid black;
}

.head{
  content: '';
  position: relative;
  left:100px;
  height: 3px;
  width: 30px;
  background: #9b59b6;

}

.subject-checkbox {
  display: flex;
  align-items: center;
  
}

.subject-checkbox input[type="checkbox"] {
  margin-right: 10px; 

}

.subject-label {
  display: flex;
  align-items: center;
}

.subject-checkbox label {
 
  font-weight: bold;

}

.main .label{
 padding-bottom: 522px;
}

.sumbit{
  margin: 10px;
  width: 450px;
  height: 50px;
  color: #fff;
  background: linear-gradient(135deg , #71b7e6 , #9b59b6);
  cursor: pointer;
}

.sbt{
   position: absolute;
   bottom: 50px;
   left: 530px;
   width: 450px;
   height: 50px;
   color: #fff;
   background: linear-gradient(135deg , #71b7e6 , #9b59b6);
   cursor: pointer;
}

.btns{
  padding-bottom: 10px;
  position: relative;
  left:250px;
  background: white;
  width: 1000px;
  height: 100px;
}


.service img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

.main3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  margin-bottom: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

@media (max-width: 768px) {

  .main{
    height: 900px;
  }

  .pic{
    width: 100%;
  }

  .home{
    width: 100%;
  }


  .Container{
    width: 100%;
  }

  .Container h1{
    font-size: 50px;
    padding-top: 150px;
  }

  .Container p{
    font-size: 20px;
    padding-top: 150px;
  }

  .head{
    position: relative;
    left: 40%;
  }

  .main2{
    position: relative;
    top:100px;
    left:0px;
    width: 100%;
    height: 650px;
    padding: 0%;
  }

  .inp{
    width: 100px;
    height: 20px;
    border-radius: 5px;
  }

  .btns{
    position: relative;
    top:100px;
    left:0px;
    width: 100%;
    height: 100px;
    padding: 0%;
  }

  .sumbit{
    position: relative;
    left: 5%;
    width: 40%;
  }

  .sbt{
    width: 30%;
    position: relative;
    left:60%;
    top:-60px;
  }

  .service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .service-item {
    position: relative;
    flex-basis: 50%; 
    padding: 0;
    margin-bottom: 20px;
  }
  .photo-with-title {
    position: relative;
    text-align: center;
  }
  .photo-with-title img {
    width: 100%;
    max-width: 300px; 
  }

  .light{
    filter: brightness(50%);
  }
  .tittle {
    position: absolute;
    top: 50px;
    left: 100px;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
  }

  .main3 {
    height: 120%;
    margin: 0;
    padding: 0%;
  }

  .main3 h2{
    font-size: 20px;
  }

  .prev-button {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 9;
  }

  .next-button {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 9;
  }
  

}